/* template css


@import url('https://fonts.googleapis.com/css?family=Saira+Condensed:700');

hr {
    background-color: #be2d24;
    height: 3px;
    margin: 5px;
}

div#cert-footer {
    position: absolute;
    width: 60%;
    top: 550px;
    text-align: center;
}

#cert-stamp,
#cert-ceo-sign {
    width: 60%;
    display: inline-block;
}

div#cert-issued-by,
div#cert-ceo-design {
    width: 40%;
    display: inline-block;
    float: left;
}

div#cert-ceo-design {
    margin-left: 10%;
}

h1 {
    font-family: 'Saira Condensed', sans-serif;
    margin: 5px 0px;
}

body {
    width: 950px;
    height: 690px;
    position: absolute;
    left: 30px;
    top: 30px;
    border: 3px solid red;
}

p {
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    margin: 5px 0px;
}

html {
    display: inline-block;
    width: 1024px;
    height: 768px;
    border: 2px solid red;
    background: #eee url("https://i.pinimg.com/originals/b3/17/db/b317db24945589699a4ef18150dc5b73.jpg") no-repeat;
    background-size: 100%;
}

h1#cert-holder {
    font-size: 50px;
    color: #be2d24;
}

p.smaller {
    font-size: 17px !important;
}

div#cert-desc {
    width: 70%;
}

p#cert-from {
    color: #be2d24;
    font-family: 'Saira Condensed', sans-serif;
}

div#cert-verify {
    opacity: 1;
    position: absolute;
    top: 680px;
    left: 60%;
    font-size: 12px;
    color: grey;
} */
/* 
body {
    color: black;
    display: table;
    font-family: Georgia, serif;
    font-size: 24px;
    text-align: center;
}

.container {
    border: 20px solid tan;
    width: 750px;
    height: 563px;
    display: table-cell;
    vertical-align: middle;
}

.logo {
    color: tan;
}

.marquee {
    color: tan;
    font-size: 48px;
    margin: 20px;
}

.assignment {
    margin: 20px;
}

.person {
    border-bottom: 2px solid black;
    font-size: 32px;
    font-style: italic;
    margin: 20px auto;
    width: 800px;
}

.reason {
    margin: 20px;
} */



@import url('https://fonts.googleapis.com/css?family=Open+Sans|Pinyon+Script|Rochester');

.cursive {
    font-family: 'Pinyon Script', cursive;
}

.sans {
    font-family: 'Open Sans', sans-serif;
}

.bold {
    font-weight: bold;
}

.block {
    display: block;
}

.underline {
    border-bottom: 1px solid #777;
    padding: 5px;
    margin-bottom: 15px;
}

.margin-0 {
    margin: 0;
}

.padding-0 {
    padding: 0;
}

.pm-empty-space {
    height: 40px;
    width: 100%;
}

body {
    padding: 20px 0;
    background: #ccc;
}

.pm-certificate-container {
    position: relative;
    width: 742px;
    height: 600px;
    background-color: #618597;
    padding: 30px;
    color: #333;
    font-family: 'Open Sans', sans-serif;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    /*background: -webkit-repeating-linear-gradient(
    45deg,
    #618597,
    #618597 1px,
    #b2cad6 1px,
    #b2cad6 2px
  );
  background: repeating-linear-gradient(
    90deg,
    #618597,
    #618597 1px,
    #b2cad6 1px,
    #b2cad6 2px
  );*/

    .outer-border {
        width: 794px;
        height: 594px;
        position: absolute;
        left: 50%;
        margin-left: -397px;
        top: 50%;
        margin-top: -297px;
        border: 2px solid #fff;
    }

    .inner-border {
        width: 730px;
        height: 530px;
        position: absolute;
        left: 50%;
        margin-left: -365px;
        top: 50%;
        margin-top: -265px;
        border: 2px solid #fff;
    }

    .pm-certificate-border {
        position: relative;
        width: 720px;
        height: 520px;
        padding: 0;
        border: 1px solid #E1E5F0;
        background-color: rgba(255, 255, 255, 1);
        background-image: none;
        left: 50%;
        margin-left: -360px;
        top: 50%;
        margin-top: -260px;

        .pm-certificate-block {
            width: '650px';
            height: '200px';
            position: relative;
            left: '50%';
            margin-left: '-325px';
            top: '70px';
            margin-top: '0';
        }

        .pm-certificate-header {
            margin-bottom: 10px;
        }

        .pm-certificate-title {
            position: 'relative';
            top: '40px';
        }

        .pm-certificate-title h2 {
            font-size: '50px ' !important
        }


        .pm-certificate-body {
            padding: 20px;
        }

        .pm-name-text {
            font-size: 20px;
        }


        .pm-earned {
            margin: 15px 0 20px;

            .pm-earned-text {
                font-size: 20px;
            }

            .pm-credits-text {
                font-size: 15px;
            }
        }

        .pm-course-title {
            .pm-earned-text {
                font-size: 20px;
            }

            .pm-credits-text {
                font-size: 15px;
            }
        }

        .pm-name-text bold {
            font-size: 50px;
        }

        .pm-certified {
            font-size: 12px;

            .underline {
                margin-bottom: 5px;
            }
        }

        .pm-certificate-footer {
            width: 650px;
            height: 100px;
            position: relative;
            left: 50%;
            margin-left: -325px;
            bottom: -105px;
        }
    }
}